* {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
}

body {
  margin: 0;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 133px;
  font-weight: normal;
  color: white;
  margin: 0;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

ul li {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  list-style: none;
}

.wrapper {
  margin: auto;
}

.upper-box {
  border: 1px solid red;
  position: absolute;
  top: 0;
  width: 100%;
}

.swiss,
.bagel,
.salad {
  background-color: #fb0c1b;
  width: 410px;
  height: 150px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.swiss {
  transform: rotate(270deg);
}

.bagel {
  transform: rotate(110deg);
}

.salad {
  transform: rotate(80deg);
}

.info-wrapper {
  border: 1px solid red;
  width: 30%;
}

.below-box {
  border: 1px solid red;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2%;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  bottom: 0;
  width: 100%;
  grid-template-areas: " intro intro supplement supplement" " recipe recipe supplement supplement";
}

.intro-wrapper, .recipe-wrapper, .supplement-wrapeer {
  border: 1px solid green;
}

.intro-wrapper {
  grid-area: intro;
}

.recipe-wrapper {
  grid-area: recipe;
  padding: 0;
  display: grid;
  grid-gap: 10px;
  grid-column: auto/span 2;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "recipe-title recipe-title recipe-title" "raclette raclette raclette" "valaisan valaisan valaisan" "rosti rosti rosti" "bais bais bais" "heidi heidi heidi" "Leman Leman Leman";
}
.recipe-wrapper .recipe-title {
  grid-area: recipe-title;
}
.recipe-wrapper .recipe-title .title {
  grid-area: title;
}
.recipe-wrapper .recipe-title .price {
  grid-area: price;
}
.recipe-wrapper .raclette {
  grid-area: raclette;
}
.recipe-wrapper .raclette .m-number {
  grid-area: m-number;
}
.recipe-wrapper .raclette .m-name {
  grid-area: m-name;
}
.recipe-wrapper .raclette .m-price {
  grid-area: m-price;
}
.recipe-wrapper .valaisan {
  grid-area: valaisan;
}
.recipe-wrapper .valaisan .m-number {
  grid-area: m-number;
}
.recipe-wrapper .valaisan .m-name {
  grid-area: m-name;
}
.recipe-wrapper .valaisan .m-price {
  grid-area: m-price;
}
.recipe-wrapper .rosti {
  grid-area: rosti;
}
.recipe-wrapper .rosti .m-number {
  grid-area: m-number;
}
.recipe-wrapper .rosti .m-name {
  grid-area: m-name;
}
.recipe-wrapper .rosti .m-price {
  grid-area: m-price;
}
.recipe-wrapper .bais {
  grid-area: bais;
}
.recipe-wrapper .bais .m-number {
  grid-area: m-number;
}
.recipe-wrapper .bais .m-name {
  grid-area: m-name;
}
.recipe-wrapper .bais .m-price {
  grid-area: m-price;
}
.recipe-wrapper .heidi {
  grid-area: heidi;
}
.recipe-wrapper .heidi .m-number {
  grid-area: m-number;
}
.recipe-wrapper .heidi .m-name {
  grid-area: m-name;
}
.recipe-wrapper .heidi .m-price {
  grid-area: m-price;
}
.recipe-wrapper .Leman {
  grid-area: Leman;
}
.recipe-wrapper .Leman .m-number {
  grid-area: m-number;
}
.recipe-wrapper .Leman .m-name {
  grid-area: m-name;
}
.recipe-wrapper .Leman .m-price {
  grid-area: m-price;
}

.supplement-wrapeer {
  grid-area: supplement;
}
