* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 133px;
  font-weight: normal;
  color: white;
  margin: 0;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
}

ul li {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  list-style: none;
}

.wrapper {
  margin: auto;
}

.swiss, .bagel, .salad {
  background-color: #fb0c1b;
  width: 410px;
  height: 150px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.swiss {
  transform: rotate(deg);
}
