* {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
}

body {
  margin: 0;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 133px;
  font-weight: normal;
  color: white;
  margin: 0;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 26px;
  font-weight: normal;
  margin: 0;
}

ul li {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  list-style: none;
}

.wrapper {
  margin: auto;
}

.upper-box {
  border: 1px solid red;
  margin: 0 5%;
}

.swiss,
.bagel,
.salad {
  background-color: #fb0c1b;
  width: 410px;
  height: 150px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.swiss {
  transform: rotate(270deg);
}

.bagel {
  transform: rotate(110deg);
}

.salad {
  transform: rotate(80deg);
}

.info-wrapper {
  border: 1px solid red;
  width: 30%;
}

.below-box {
  border: 1px solid red;
  margin: 0 5%;
  display: flex;
}

.intro-wrapper, .recipe-wrapper {
  border: 1px solid green;
  width: 50%;
}

.supplement-wrapeer {
  border: 1px solid green;
  width: 50%;
  float: left;
}
