* {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
}

body {
  margin: 0;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 133px;
  font-weight: normal;
  color: white;
  margin: 0;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

ul {
  padding: 0;
}
ul li {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  list-style: none;
}

.wrapper {
  margin: auto;
}

.upper-box {
  border: 1px solid red;
  position: absolute;
  top: 0;
  width: 100%;
}

.title-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.swiss,
.bagel,
.salad {
  writing-mode: vertical-rl;
  background-color: #fb0c1b;
  margin: 0;
  padding: 0;
  text-align: center;
}

.info-wrapper {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  position: absolute;
  right: 0;
  border: 1px solid red;
}

.contact, .content, .social-media {
  writing-mode: vertical-rl;
}

.below-box {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  bottom: 0;
  width: 100%;
  grid-template-areas: " intro intro supplement supplement" " recipe recipe supplement supplement";
}

.intro-wrapper {
  grid-area: intro;
}
.intro-wrapper .intro2 {
  padding-left: 2em;
  margin: -5px 0;
}
.intro-wrapper .intro3 {
  padding-left: 4em;
}
.intro-wrapper .intro3 p {
  margin: -5px 0;
}

.recipe-wrapper {
  grid-area: recipe;
}

.recipe-wrapper > div {
  display: grid;
  grid-template-columns: 2em 3fr 60px;
  margin-bottom: -5px;
}

.recipe-title {
  padding-bottom: 3px;
  border-bottom: 2px solid black;
}

.raclette {
  margin-top: 7px;
}
.raclette .m-name {
  padding-left: 3em;
}

.valaisan .m-name {
  padding-left: 2em;
}

.bais .m-name {
  padding-left: 2em;
}

.heidi .m-name {
  padding-left: 4em;
}

.recipe-title .title {
  grid-column: 1/3;
}

.supplement-wrapeer {
  grid-area: supplement;
}
.supplement-wrapeer .m-price {
  text-align: right;
  padding-right: 0.2em;
}

.supplement-wrapeer > div {
  display: grid;
  grid-template-columns: 4fr 60px;
  margin-bottom: -5px;
}

.supplement-title {
  padding-bottom: 3px;
  border-bottom: 2px solid black;
}

.sauce {
  margin-top: 7px;
}

.ketchup {
  padding-left: 1.5em;
}

.Mayo {
  padding-left: 2em;
}

.Moutarde {
  padding-left: 2.5em;
}

.tartare {
  padding-left: 2em;
}

.barquette {
  padding: 10px 0;
}

.rivella {
  padding-left: 1.5em;
}

.cola {
  padding-left: 1em;
}

.ice-tea {
  padding-left: 2em;
  padding-bottom: 10px;
}

.bagel-boisson .m-name {
  padding-left: 1em;
}
