* {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
}

body {
  margin: 0;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 133px;
  font-weight: normal;
  color: white;
  margin: 0;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
}

ul li {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  list-style: none;
  transform: rotate(90deg);
}

.wrapper {
  margin: auto;
}

.swiss,
.bagel,
.salad {
  background-color: #fb0c1b;
  width: 410px;
  height: 150px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.swiss {
  transform: rotate(270deg);
}

.bagel {
  transform: rotate(110deg);
}

.salad {
  transform: rotate(80deg);
}
