* {
    box-sizing: border-box;
}

@mixin large-text {
    font: {
        family: Helvetica, sans-serif;
        size: 133px;
        weight: normal;
    }

    color: white;
}

@mixin medium-text {
    font: {
        family: Helvetica, sans-serif;
        size: 16px;
        weight: normal;
    }
}

@mixin small-text {
    font: {
        family: Helvetica, sans-serif;
        size: 14px;
        weight: normal;
    }
}

@mixin red-border {
    border: 1px solid red;
}
@mixin green-border {
    border: 1px solid green;
}

html,
body,
.wrapper {
    height: 100%;
}

body {
    margin: 0;
}

h1 {
    @include large-text;
    margin: 0;
}

p {
    @include medium-text;
    margin: 0;
}

ul li {
    @include small-text;
    list-style: none;
}

.wrapper {
    margin: auto;
}

// upper
.upper-box{
    @include red-border;
    position: absolute;
    top:0;
    width: 100%;
}
.swiss,
.bagel,
.salad {
    background-color: #fb0c1b;
    width: 410px;
    height: 150px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.swiss {
    transform: rotate(270deg);
}
.bagel {
    transform: rotate(110deg);
}
.salad {
    transform: rotate(80deg);
}
.info-wrapper{
    transform:rotate(90deg);
    display:inline-block;
    @include red-border;
    width: 30%;
    position: absolute;
    top:0;
    right:0;
}

//below
.below-box{
    @include red-border;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    bottom: 0;
    width: 100%;
    grid-template-areas: 
    " intro intro supplement supplement"
    " recipe recipe supplement supplement"
}
.intro-wrapper, .recipe-wrapper, .supplement-wrapeer{
    @include green-border;
}
.intro-wrapper{
   grid-area: intro;
   .intro2{
    padding-left: 2em;
    margin: -5px 0;
   }
   .intro3{
    padding-left: 4em;
    p {
    margin: -5px 0;
    }
    
   }
}

.recipe-wrapper{
    grid-area: recipe;
}
.recipe-wrapper > div {
    display: grid;
    grid-template-columns: 2em 3fr 60px;
    margin-bottom: -5px;
}
.recipe-title{
    padding-bottom: 3px;
    border-bottom: 2px solid black;   
}

.raclette{
    margin-top: 7px;
    .m-name {
        padding-left: 3em;
     }
}
.valaisan .m-name {
    padding-left: 2em;
}
.bais .m-name {
    padding-left: 2em;
}
.heidi .m-name {
    padding-left: 4em;
}
.recipe-title .title {
    grid-column : 1 / 3;
}
.supplement-wrapeer{
    grid-area: supplement;
    .m-price{
        text-align: right;
        padding-right: 0.2em;
    }
}

.supplement-wrapeer > div {
    display: grid;
    grid-template-columns: 4fr 60px;
    margin-bottom: -5px;
}

.supplement-title {
    padding-bottom: 3px;
    border-bottom: 2px solid black;  
}

.sauce{
    margin-top: 7px;
}

.ketchup{
    padding-left: 1.5em;
}

.Mayo{
    padding-left: 2em;
}
.Moutarde{
    padding-left: 2.5em;
}
.tartare{
    padding-left: 2em;
}

.barquette{
    padding: 10px 0;
}

.rivella{
    padding-left: 1.5em;
}
.cola{
    padding-left: 1em;
}
.ice-tea{
    padding-left: 2em;
    padding-bottom: 10px;
}

.bagel-boisson .m-name{
    padding-left: 1em;
}
