* {
    box-sizing: border-box;
}

@mixin large-text {
    font: {
        family: Helvetica, sans-serif;
        size: 133px;
        weight: normal;
    }

    color: white;
}

@mixin medium-text {
    font: {
        family: Helvetica, sans-serif;
        size: 26px;
        weight: normal;
    }
}

@mixin small-text {
    font: {
        family: Helvetica, sans-serif;
        size: 14px;
        weight: normal;
    }
}

@mixin red-border {
    border: 1px solid red;
}
@mixin green-border {
    border: 1px solid green;
}

html,
body,
.wrapper {
    height: 100%;
}

body {
    margin: 0;
}

h1 {
    @include large-text;
    margin: 0;
}

p {
    @include medium-text;
    margin: 0;
}

ul li {
    @include small-text;
    list-style: none;
    // transform: rotate(90deg);
}

.wrapper {
    margin: auto;
}

// upper
.upper-box{
    @include red-border;
    position: absolute;
    top:0;
    width: 100%;
}
.swiss,
.bagel,
.salad {
    background-color: #fb0c1b;
    width: 410px;
    height: 150px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.swiss {
    transform: rotate(270deg);
}

.bagel {
    transform: rotate(110deg);
}

.salad {
    transform: rotate(80deg);
}

.info-wrapper{
    @include red-border;
    width: 30%;

}

//below
.below-box{
    @include red-border;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-template-rows: repeat(2,150px);
    grid-row-gap: 10px;
    bottom: 0;
    width: 100%;
    

}

.intro-wrapper, .recipe-wrapper{
    @include green-border;
    min-width: 240px;
    
}
.intro-wrapper{
   
}
.supplement-wrapeer{
    @include green-border;
    width: 50%;
    float: left;
}
