* {
    box-sizing: border-box;
}

@mixin large-text {
    font: {
        family: Helvetica, sans-serif;
        size: 133px;
        weight: normal;
    }

    color: white;
}

@mixin medium-text {
    font: {
        family: Helvetica, sans-serif;
        size: 16px;
        weight: normal;
    }
}

@mixin small-text {
    font: {
        family: Helvetica, sans-serif;
        size: 14px;
        weight: normal;
    }
}

@mixin red-border {
    border: 1px solid red;
}
@mixin green-border {
    border: 1px solid green;
}

html,
body,
.wrapper {
    height: 100%;
}

body {
    margin: 0;
}

h1 {
    @include large-text;
    margin: 0;
}

p {
    @include medium-text;
    margin: 0;
}

ul li {
    @include small-text;
    list-style: none;
    // transform: rotate(90deg);
}

.wrapper {
    margin: auto;
}

// upper
.upper-box{
    @include red-border;
    position: absolute;
    top:0;
    width: 100%;
}
.swiss,
.bagel,
.salad {
    background-color: #fb0c1b;
    width: 410px;
    height: 150px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.swiss {
    transform: rotate(270deg);
}

.bagel {
    transform: rotate(110deg);
}

.salad {
    transform: rotate(80deg);
}

.info-wrapper{
    @include red-border;
    width: 30%;

}

//below
.below-box{
    @include red-border;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    bottom: 0;
    width: 100%;
    grid-template-areas: 
    " intro intro supplement supplement"
    " recipe recipe supplement supplement"
    // height: 33%;
}

.intro-wrapper, .recipe-wrapper, .supplement-wrapeer{
    @include green-border;
}


.intro-wrapper{
   grid-area: intro;
}

.recipe-wrapper{
    grid-area: recipe;
    padding: 0;
    display: grid;
    grid-gap: 10px;
    grid-column: auto / span 2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    .recipe-title{
        grid-area: recipe-title;
    }
    .raclette{
        grid-area: raclette;
    }
    .valaisan{
        grid-area: valaisan;
    }
    .rosti{
        grid-area: rosti;
    }
    .bais{
        grid-area: bais;
    }
    .heidi{
        grid-area: heidi;
    }
    .Leman{
        grid-area: Leman;
    }
    grid-template-areas: 
    "recipe-title recipe-title recipe-title"
    "raclette raclette raclette"
    "valaisan valaisan valaisan"
    "rosti rosti rosti"
    "bais bais bais"
    "heidi heidi heidi"
    "Leman Leman Leman"
}
.title{
    grid-area: title;
}
.price{
    grid-area: price;
}
.m-number{
    grid-area: m-number;
}
.m-name{
    grid-area: m-name;
}
.m-price{
    grid-area: m-price;
}

.supplement-wrapeer{
    grid-area: supplement;
}

