*{
    box-sizing: border-box;
    font-family: 'Arial, Helvetica, sans-serif
}

.title-wrapper{
    $main-color: #fb0c1b;
    $style: solid;
}


h2 p{
    font-family: Arial, Helvetica, sans-serif
}

