* {
    box-sizing: border-box;
}

@mixin large-text {
    font: {
        family: Helvetica, sans-serif;
        size: 133px;
        weight: normal;
    }

    color: white;
}

@mixin medium-text {
    font: {
        family: Helvetica, sans-serif;
        size: 30px;
        weight: normal;
    }
}

@mixin small-text {
    font: {
        family: Helvetica, sans-serif;
        size: 14px;
        weight: normal;
    }
}

@mixin border {
    border: 1px solid red;
}

html,
body,
.wrapper {
    height: 100%;
}

body {
    margin: 0;
}

h1 {
    @include large-text;
    margin: 0;
}

p {
    @include medium-text;
    margin: 0;
}

ul li {
    @include small-text;
    list-style: none;
    // transform: rotate(90deg);
}

.wrapper {
    margin: auto;
}

// upper
.upper-box{
    @include border;
    margin: 0 5%;
}
.swiss,
.bagel,
.salad {
    background-color: #fb0c1b;
    width: 410px;
    height: 150px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.swiss {
    transform: rotate(270deg);
}

.bagel {
    transform: rotate(110deg);
}

.salad {
    transform: rotate(80deg);
}

.info-wrapper{
    @include border;
    width: 30%;
    position: relative;

}

//below
.below-box{
    @include border;
    margin: 0 5%;
}

.intro-wrapper, .recipe-wrapper{
    @include border;
    width: 50%;
}
.supplement-wrapeer{
    @include border;
    width: 50%;
}
